main {
  height: 500px;
  border: 15px solid black;
  width: 80%;
  left: 0;
  margin: 200px auto 50px;
  background: white;
  position: relative;
}
body {
  background: url("../images/BackgroundImage.jpg");
}
.next-question {
  min-width: 100px;
  margin: 1rem;
  padding: 0.5rem 1rem;
  outline: none;
  border: 2px solid black;
  font-size: 1rem;
  letter-spacing: 2px;
  color: black;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.next-question:hover {
  background-color: #3e8e41;
}
.next-question:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.start-game {
  min-width: 100px;
  margin: 1rem;
  padding: 0.5rem 1rem;
  outline: none;
  border: 2px solid black;
  font-size: 1rem;
  letter-spacing: 2px;
  color: black;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.start-game:hover {
  background-color: #3e8e41;
}
.start-game:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.result {
  height: 100px;
  width: 100%;
  font-size: 30px;
  text-align: center;
  text-justify: center;
}
.question {
  height: 100px;
  width: 100%;
  font-size: 50px;
  text-align: center;
  text-justify: center;
}
.answer {
  height: 200px;
  font-size: 50px;
  flex-direction: row;
}
.button {
  min-width: 100px;
  margin: 1rem;
  padding: 0.5rem 1rem;
  outline: none;
  border: 2px solid black;
  font-size: 1rem;
  letter-spacing: 2px;
  color: black;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.button:hover {
  background-color: #3e8e41;
}
.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.user-score {
  font-size: 30px;
}
header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  background: darkcyan;
}
h1 {
  text-align: center;
  text-justify: center;
  color: purple;
  margin-top: 1px;
}
