main {
  height: 500px;
  border: 15px solid black;
  width: 80%;
  left: 0;
  margin: 200px auto 50px;
  background: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

body {
  background: url("../images/BackgroundImage.jpg");
}

.start-game {
  min-width: 100px;
  margin: 1rem;
  padding: 0.5rem 1rem;
  outline: none;
  border: 2px solid black;
  font-size: 1rem;
  letter-spacing: 2px;
  color: black;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  background: darkcyan;
}
h1 {
  text-align: center;
  text-justify: center;
  color: purple;
  margin-top: 1px;
}
